.login{
    padding: 2%;
    padding-top: 4%;
    background-color: #e7edf4;
    min-height: 100vh;
}
.login .child1{
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 10px grey,-10px -10px 10px grey;
    transition: transform 0.3s ease;
    background-color: white;
}
.login .child1:hover{
    transform: scale(0.9);
    box-shadow: 8px 8px 20px grey,-8px -8px 20px grey;

}
.login .child1 .image img{
    width: 100%;
}
.login .child1 .image{
    width: 550px;
}
.login .child1 .flex{
    width: 550px;
}
.login form .button{
    text-align: center;
}
.login form .b{
    background-color: #575757;
    color: white;
    padding: 10px;
}
.login form .b:hover{
    background-color:  #8ec8f5;
}
.login .chi2 form input{
    border: 1px solid #8ec8f5;
    background-color: rgb(245, 239, 239);
}
.login .chi2 form{
    border-radius: 10px;
}
.login .chi2 p{
    text-align: center;
}
.login form:hover{
    box-shadow: 10px 10px 20px gray;
}