.main7{
    background-color: #e7edf4;
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;
    padding-top: 70px;
    position: relative;
  }
  .registration-listing {
      background-color: white;
      box-shadow: -5px -5px 5px grey,5px 5px 5px grey;
      width: 85%;
      padding: 2%;
      margin: auto;
    }
    
    .registration-listing h1{
      margin-top: 30px;
      color: rgb(11, 129, 90);
      font-weight: bold;
    }
    .registration-listing h2{
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .registration-listing table {
      width: 90%;
      border-collapse: collapse;
      margin: auto;
    }
    
    .registration-listing table th, .registration-listing table td {
      border: 1px solid #c4c1c1;
      padding: 8px;
    }
    
    .registration-listing table th {
      background-color: #e7edf4;
      padding: 2%;
    }
    .registration-listing table td{
      padding: 2%;
    }
    
    .registration-listing button {
      background-color: #e7edf4;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
    }
    .main7 .back{
        position: absolute;
        top:0;
        left:0;
    }
    .main7 .back:hover{
        color:grey;
    }
    .registration-listing button:hover{
        background-color: rgb(11, 129, 90);
    }
    @media screen and (max-width:576px){
      .registration-listing{
        width: 95%;
      }
  }